@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: "Poppins", sans-serif;
}

body {
   background-color: rgb(204, 204, 204);
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: rgb(204, 204, 204);
}

::-webkit-scrollbar-thumb {
   background: rgb(129, 129, 129);
   border-radius: 15px;
}
